name: "pages"
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "42 6 * * *"
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  pages: write
  id-token: write
  deployments: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    name: Build search
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Make some space
        # TODO: switch back to a release, when https://github.com/wimpysworld/nothing-but-nix/pull/25 is in one
        uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'carve'  # keep npx for cloudflare upload
          nix-permission-edict: true  # required for nix-quick-install-action

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v34

      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-

      - name: Update inputs
        if: github.event_name == 'schedule'
        run: nix flake update

      - name: Build search
        run: nix build -L

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: result

      - name: Publish to Cloudflare Pages
        if: "github.repository_owner == 'NuschtOS'"
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 2a09613716e511a8fe8ca74abc084762
          projectName: search-nuschtos-de
          directory: result
          gitHubToken: ${{ github.token }}

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
